@import 'variables';

.swiper-container {
    @include sp {
        height: 60vh;
        width: 75vw;
        position: absolute;
        top: 10vw;
        right: 2vh;
    }
    @include pad {
        height: 500px;
        width: 90vw;
        position: relative;
        left: 50px;
    }
  }

  .swiper-wrapper {
    bottom: 0;
    right:0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    & .title {
        font-size: 1.5em;
    }

    & .subtitle {
        font-size: 1em;
    }
  }