@import 'variables';

.swiper-container {
    @include sp {
        height: 60vh;
        width: 75vw;
        position: absolute;
        top: 10vw;
        right: 2vh;
    }
    @include spWide {
        height: 75vh;
        width: 75vw;
        top: -10px;
        right: 2vw;
    }
    @include tab {
        height: 60vh;
        width: 80vw;
        top: 10vw;
        right: -3vh;
    }
    @include pad {
        height: 500px;
        width: 100vw;
        position: relative;
        left: -50px;
        top: 85px;
    }
  }

  .swiper-wrapper {
    bottom: 0;
    right:0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    & .title {
        font-size: 1.5em;
    }

    & .subtitle {
        font-size: 1em;
    }
  }

  .swp-image {
    box-shadow: rgba(0, 0, 0, 0.34) 3px 2px 9px 1px;
  }