$pc: 1024px; // PC
$pad: 768px; // pad
$tab: 640px; // タブレット
$sp: 320px;  // スマホ
$ss: 320px;

@mixin pc {
     @media (min-width: ($pc)) {
      @content;
  }
}
  
@mixin pad {
  @media (min-width: ($pad)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}
@mixin ss {
  @media (max-width: ($ss)) {
    @content;
  }  
}

.overlay {
  &-top, &-right, &-bottom, &-left {
    z-index: 50 !important;
    background: #eef2f3 !important;
  }
}